body{
    overflow: hidden;
    height: 100vh;
}
.full-height{
    height: 100vh;
}
.home{
    object-fit: cover;
}
.flex{
    display: flex;
    flex-direction: column;
    background: #008773;
    color: #fff;
    justify-content: center;
    align-items: center;
}
 /* .absolute-center{
    top: 50%;
    left: 50%;
    transform : translate3d(-50%, -50%, 0);
    position: absolute;
}*/
.no-padding{
    padding: 0 !important;
}
.btn{
    background: transparent;
    color: #fff!important;
    border: 1px solid #fff!important;
    width: 100%;
    transition: 150ms;

}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}
.btn:hover{
    background: #fff;
    color: #008773!important;
    border: 0px solid #fff!important;
    transition: 250ms;
}
